<style>
  h1{
    color: red;
    background-color: rgb(60, 67, 67);
    font-size: xx-large;
    text-align: center;
  }
  p{
    front-size:xx-large;
    colour:blue;
    font-size: larger;
  }
  img{
    border-style:dotted;
    height:300px;
    width:400px;
    margin-left:650px;
  }
  p:hover{colour:blue}
</style>
<h1>SRI</h1>
<h1>GANESHA</h1>
<img src="https://media.istockphoto.com/id/693339470/photo/ganesha.jpg?s=2048x2048&w=is&k=20&c=39ZLSbHabiYrTGZiWAo83MBI-pbFffAMM6Ix3VNemg4=">
<body>
 <p>Lord Ganesh is known by 108 different names like Gajanana, Vinayaka, Vighnaharta among others.
This festival is celebrated with great devotion and joy by Hindus throughout the world. In India, 
it is majorly celebrated in states including Maharashtra, Gujarat, Goa, Madhya Pradesh, Karnataka, and Telangana.
Ganesh Chaturthi history
Ganesha is the younger son of Lord Shiva and Parvati. 
There are various stories behind his birth but two of them are the most common ones.
According to the first story, Lord Ganesha was created by Parvati out of dirt from her body to guard her in the absence of Shiva. 
She gave him the task of guarding her bathroom door while she took a bath. 
In the meantime, Shiva returned home and Ganesha, who didn't know who Shiva was, stopped him. 
This angered Shiva and he severed Ganesha's head after a tiff between the two. 
Parvati was enraged when she came to know about this; Lord Shiva, in turn, promised to get Ganesha back to life.
The devas were sent to search for a child's head facing north but they could only find an elephant's head.
 Shiva fixed the elephant's head on the child's body, and that how Ganesha was born.
The other popular story is that the Devas requested Shiva and Parvati to create Ganesha so that he can be a Vighnakarta (creator of obstacles) for rakshasas (demons), 
thus being a Vighnaharta (averter of obstacles) and helping Devas.
Ganesh Chaturthi importance</p>
</body>